* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.mobile-view {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.shop-heading a {
  text-decoration: none;
  letter-spacing: 3px;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  /* padding: 20px; */
}
.desktop-view {
  display: none;
}

.mens_outerwear{
  background-image: url(IMG/mens_outerwear.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

 .mens-section,
.women-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
} 

.mens_outerwear-heading{
font-size: 16.9px;
color: #202020;
font-weight: lighter;
}

.shpbtn {
  font-size: 16px;
  border: 2px solid black;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  color: #444;
  padding: 10px 42px;
} 

.common-section-for-both{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mens-section-incommon{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.women-section-incommon{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
 .womens_outerwear{
  background-image: url(IMG/ladies_outerwear.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}




.mens_outerwear-common{
  background-image: url(IMG/mens_tshirts.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}
.womens_outerwear-common{
  background-image: url(IMG/ladies_tshirts.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.shpbtn-for-common {
  font-size: 14px;
  border: 2px solid black;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  color: #444;
  padding: 10px 12px;
  font-size: 14px;
}

*/
.desktop-view {
  display: none;
}

.item3 {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}


.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0;
}
.footer-para {
  color: gray;
  margin: 15px;
  font-size: 12px;
}

.made-by {
  font-size: 14px;
  color: white;
  height: 36px;
  width: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}  



 @media screen and (min-width: 1440px) {
    .mens-section-incommon{
        margin-left: 11%;
        
    }
    .women-section-incommon{
        margin-right: 11%;
    }
    .desktop-view{
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 13px;
      padding-right: 15px;
      font-size: 11px;
      margin-top: 26px;
    }

    .desktop-view a{
        text-decoration: none;
        font-size: 13px;
        color: black;
        padding: 16px;
    }

    .menu-bar i {
      display: none;
    }

  .shpbtn-for-common { font-size: 16px;
  border: 2px solid #202020;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  color: #444;
  padding: 10px 42px;
   }
  } 










/*---------------------------------------------------------------------------------- Total Items Page -----------------------------------------------*/
.image-section{
  width: 100%;
  background-image: url(IMG/ladies_outerwear.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: none;
}


.menu-bar i,
.cart i {
  font-size: 24px;
  cursor: pointer;
  padding: 0 15px;
}
.heading {
  text-decoration: none;
  letter-spacing: 3px;
  color: #444;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}
.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #202020;
  font-weight: 700;
}

.middle-heading {
  font-size: 14px;
  font-weight: lighter;
}
.middle-heading2 {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 15px;
  color: grey;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.item {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}
.card-heading {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
  color: #202020;
}
.item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item p {
  font-size: 14px;
  color: #777;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0;
}
.footer-para {
  color: gray;
  margin: 15px;
}
.made-by {
  font-size: 13px;
  color: white;
  height: 36px;
  width: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*------------------------------------------------------------------------- single-item-section --------------------------------------------------------*/
/* .card-main-section{
    display: grid;
    grid-column: 1fr;
} */
.img-ccontainer {
  /* width: 100vh; */
  height: 300px;
  background-image: url(IMG/12.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.size-section,
.quantity-section {
  width: 90%;
  display: flex;
  gap: 0px 64px;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
.size-section {
  gap: 0px 84px;
}
.size-selector,
.Quantity-selector {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  outline: none !important;
  border: none !important;
  border-right: none !important;
  background-color: white;
}
.size-section,
.quantity-section p {
  color: gray;
  font-size: 14px;
}

.quantity-section {
  border-top: none;
}
.selector-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.detail-heading {
  font-size: 20px;
  color: #202020;
}
.main-detail-heading {
  display: flex;
  align-items: start;
  padding: 0px 14px;
}
.price-cntainer {
  display: flexbox;
  align-items: start;
  padding: 0px 12px;
  color: #757575;
  font-size: 13px;
}

.description-heading,
.feature-heading {
  font-size: 13px;
  margin: 16px 0px;
  color: #202020;
  padding: 0px 14px;
}
.feature-heading {
  color: #757575;
}
.desc-para {
  color: #757575;
  font-size: 13px;
  padding: 0px 14px;
}
.feature-description {
  margin: 10px 40px;
}
.fleature-list {
  color: #757575;
  font-size: 13px;
  padding: 2px 8px;
}
.add-to-card-btn {
  width: 100%;
  background-color: #172c50;
}
.add-to-card-btn {
  color: #ffffff;
  font-size: 15px;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  position: fixed;
}
.single-item{
  display: none;
}
.feature-description{
  margin-bottom: 15rem;
}
.single-item-cart-btn{
  display: none;
}

.add-to-card a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: lighter;
}
@media (min-width: 760px) {
  .add-to-card{
    display: none;
  }
 
  .single-item{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    bottom: 0;
    left: 45%;

  }
  .single-item{
   display: block;
   position: absolute;
   bottom: 0;
  }
  
  .single-item-cart-btn{
    display: block;
    margin:10px 10px;
  }
}


/* -------------cart page------------------------- */


.cart-mobile-view {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  padding: 10px 20px; 
  background-color: #fff; 
}

.cart-mobile-view a {
  text-decoration: none; 
  color: black; 
  font-size: 16px; 
  font-weight: lighter; 
}

.cart-mobile-view i {
  font-size: 20px; 
  cursor: pointer; 
}

.header-section-cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-quantity {
  font-size: 14px;
  color: #757575;
}

.cart-heading {
  font-size: 14px;
  color: black;
}
.cart-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-img {
  width: 72px;
  height: 72px;
}

.main-card-detail-cnt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}

.items-info {
  text-decoration: none;
  font-size: 13px;
  color: black;
  width: 300px;
}

.selections {
  border: none;
  font-size: medium;
  color: gray;
  padding: 0;
  font-size: small;
  padding: 2px;
  width: 100px;
}

.qunat {
  border: 0px;
}
.cart-details {
  width: 100%;
}

.remove-item {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 13px;
  gap: 23px;
  padding: 10px 40px;
  font-weight: bold;
  margin-top: 30px;
}
.remove-item {
  color: #757575;
  display: flex;
  align-items: flex-start;
  /* margin-bottom: 10px; */
}
.cart-added-detail {
  gap: 10px;
  width: 100%;
}
.add-to-cart-btn {
  margin: 0 20px;
}
.cart-btn-total {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
}
.btn-cart {
  text-decoration: none;
  padding: 10px;
  border: 2px solid black;
  color: black;
}
.btn-cart {
  display: none;
}
.cart-footer{
  /* display: flex;
  align-items: center;
  position: absolute;
  bottom: 0; */
  display: flex;
  align-items: center;
  width: 100%;
  position: relative; /* Change from absolute */
  bottom: 0;
}
.checkout-btn-cart{

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.checkout-footer-blue{
 text-decoration: none;
 color: white;

 
}


@media (min-width: 360px) {
  .two-one{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  
}

@media (min-width: 768px) {
  .btn-cart {
    display: inline-block;
  }
  .cart-added-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .add-to-cart-main {
    margin: 0px 10%;
    
  }
  .items-info {
    width: 300px;
    /* padding-left: 50px; */
  }
.checkout-btn-cart{
  display: none;
}

}

@media (min-width: 1024px) {
  .main-card-detail-cnt {
    max-width: 80%;
  }


  .main-card-detail-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .remove-item {
    width: 5%;
  } */
  .btn-cart {
    margin-right: 25%;
  }
  .selections {
    padding: 30px 10px;
    margin: 8px 8px;
  }

  .cart-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px 50px;
  }

  .selections {
    /* min-width: 190px; */
  }

  .items-info {
    width: 300px;
  }
  .desktop-view {
    display: none;
  }
}

/* --------------------for alll */

@media screen and (min-width: 750px) {
  .part1 {
    margin-left: 11%;
  }
  .part2 {
    margin-right: 11%;
  }
  .desktop-view {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding-right: 15px;
    font-size: 11px;
    margin-top: 26px;
  }

  .desktop-view a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 16px;
  }

  .menu-bar i {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }

  /* --full items container----------------------- */
.image-section{
  width: 100%;
  display: block;
}
.middle-section {
  margin-top: 40px;
}
  /* ----  single card */
  .card-main-section {
    display: flex;
    flex-direction: row;
  }
  .img-ccontainer {
    width: 50%;
    /* height: 500px; */
    margin-top: 140px;
  }
  .detail-container {
    width: 70%;
  }
  .add-to-card {
    display: none;
  }
  .description,
  .selector-section {
    width: 50%;
  }

  .single-item {
    margin-top: 15.5rem;
  }
}



/* ----------------------check out------------------------- */

/* checck out page */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}
.shop{
  font-size: 20px;
  /* font-weight: bold; */
  text-align: center;
  text-decoration: none;
  letter-spacing: 5px;
  color: black;
}
.menu{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  padding: 20px;   
}
.cart-icon{
  font-size: 20px;
  padding: 20px;
}
.cartitem{
  margin-top: 10px;
}
.checkout{
  display: flex;
  justify-content: center;
}

.personal-details{
  display: flex;
  flex-direction: column;

}

.part1,.part2{
  flex: 1;
  padding: 10px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap :20px;
  text-align: start;

}
.data{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  gap: 30px;
  border: 0px solid ;
  border-bottom: 1px solid;
}
.state-detail{
  display: flex;
  gap: 10px;

}
.country-section,.month-section {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border: 0px;
  border-bottom: 1px solid #757575;
}
.month-year-cvv{
  display: flex;
}
#hide{
  display: none;
}

#hide-bill:checked ~ #hide{
display: flex;
flex-direction: column;
}
.checkout-total-price{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}
.placeoredr {
  color: #fff;
  font-size: 16px;
  padding:20px 0px ;
  width: 100%;
  background-color: #172C50;
  position:fixed;
  bottom: 0;
}
.cartbtn{
  display: none;
}
.person-details-heading{
  display: flex;
  justify-items: start;
}
.place-order{
display: none;
}
.personal-details{
  margin: 0px 5%;
}
/* Media Queries */
@media (min-width: 768px) {

  .personal-details{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0px 10%;
      gap: 30px;
  }

  .menu i{
      display: none;
  }

  .state-detail {
      flex-direction: column;
  }
  .checkoutbtn {
      display: none;
  }
  .place-order{
    display: flex;
    text-decoration: none;
    color: #202020;
    border:1px solid;
    height: 40px;
    width: 200px;
    padding-top: 10px;
    padding-left: 40px;

  }

  .footer-class{
      display: flex;
      margin-top:70px;
      bottom: 0;
      display: flex;
      align-self: center;
      justify-content: center;   
  }
}






/* --------------------------------checkout page--------------- */


.checkout-contnr{
  display: flex;
  flex-direction: column;
}


.checkout-heading-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkout-heading{
  font-size: 16.9px;
  color: #202020;
  font-weight: lighter;
}
.checkout-para{
  font-size: 12px;
  color: #757575;
}

.form__group {
  position: relative;
  padding: 25px 0 ;
  width: 100%;
  /* max-width: 320px; */
  /* padding:15px; */

}
.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 17px;
  color: red;
  padding: 7px 15px;
  background:transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder{
    color: transparent;
}
.form__field:placeholder-shown ~.form_label{
    font-size: 17px;
    cursor: text;
    top:20px;
}
.form_label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}
.form__field:focus{
    padding-bottom: 6px;
    font-weight: 300;
    border-width: 3px;
    border-bottom: 2px solid black;
    border-image-slice: 1;
    
}
.form__field:focus ~.form_label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 13px;
    color: black;
    font-weight: 300;
}
.form__field:required,.form__field:invalid{
    box-shadow: none;
}

.account-info-heading,.Shipping-address-heading,.billing-address-heading,
.payment-mode-heading,.order-summary-heading,.order-summary-heading,.item-name-heading{
  font-size: 14px;
  padding: 12px 20px;
}
.statte-zip-cntr{
  display: flex;
  flex-direction: row;
}
.billing-address{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.new-address{
  display: flex;
  padding: 12px 20px;
  gap: 7px;
  
}
.newAddres-heading{
  font-size: 13px;
  color:#202020 ;
 
}
.paymentmode-container{
  display: flex;
  flex-direction: column;
  /* gap: 20px;
  margin-bottom: 20px; */
}
.country-section {
  /* width: 100%; */
  width: 80%;
  background-color: #fff;
  /* padding: 20px 10px; */
  margin: 5px 20px;
  border: 0px;
  font-size: 16px;
  border-bottom: 2px solid #757575;
  transition: border-color 0.2s;
  
}
input:focus, select:focus, textarea:focus {
  outline: none;
  border:none;
}
input:focus, select:focus, textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black; /* Keeps only the bottom border */
}
.lable-country{
  display: flex;
  flex-direction: column;
}
.lable-name{
  font-size: 14px;
 margin: 10px 30px;
}

 .month-section {
  width: 100%;
  background-color: #fff;
  /* padding: 10px 0px; */
  margin: 5px 10px;
  border: 0px;
  border-bottom: 2px solid #757575;
  font-size: 13px;
}
.items-price-detail{
  display: flex;
  justify-content: space-between;
}

.items-price,.item-name-heading,.total-name-heading,
.total-added-price{
  font-size: 14px;
  padding: 12px 20px;
  color: black;
  font-weight: lighter;
}
.total-price-detail{
  display: flex;
  justify-content: space-between;
}

.checkoutfooter{
  display: none;
}

.footer-ckeckout-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: blue;

}
.footer-checkout-heading{
  font-size: 14px;
  color: white;
}
.btn-div-total-cart{
  height: 30px;
  width: 20px;
  background-color: #172c50;
}
.btn-div-total-cart-btn{
  height: 40px;
  background-color: red;
  width: 200px;
  align-items: center;
  justify-content: center;
  
}
.place-order-btn{
  font-size: 14px;
  padding:10px 30px;
  margin-left: 20px;
}
.ckeckit{
  outline: 2px solid black;
  margin-left: 20px;
}
.use-diff-add{
  margin: 10px 10px;
  font-weight: lighter;
  font-size: 14px;
}

@media (min-width: 760px) {
  .country-section {
    width: 100%;
  }

  .checkoutfooter{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkout-container-middle{
    display: flex;
    gap:7rem;
    justify-content: center;
    align-items: center; 
  }
  .footer-ckeckout-page{
    display: none;
  }
  .checkout-heading{
    margin-right: 3rem;
    margin-top: 5rem;
  }
  .items-price,.item-name-heading,.total-name-heading,
  .total-added-price{
    margin: 20px;
  }

  
} 


.cart a i{
  color: black;
}